name: Build APK and Deploy Web

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.24.0'
          channel: 'stable'

      - name: Hard Reset and Build
        run: |
          # 1. Удаляем проблемную папку android полностью
          rm -rf android
          # 2. Создаем её с нуля в идеальном виде
          flutter create --platforms android .
          # 3. Подтягиваем зависимости
          flutter pub get
          # 4. Собираем APK
          flutter build apk --release

      - name: Upload APK Artifact
        uses: actions/upload-artifact@v4
        with:
          name: release-apk
          path: build/app/outputs/flutter-apk/app-release.apk
